@charset "UTF-8";

/* 2022/01/17  kt sat 셀프케어 */

/* common */
body {
  font-family: 맑은 고딕;
  font-size: 14px;
  margin: 0;
  color: #343434;
  scrollbar-face-color: #eaeaea;
  scrollbar-shadow-color: #b4b4b4;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #b4b4b4;
  scrollbar-darkshadow-color: #ffffff;
  scrollbar-track-color: #f3f3f3;
  scrollbar-arrow-color: #828282;
  min-width: 1323px;
}

a:link {
  color: #343434;
  text-decoration: none;
}
a:visited {
  color: #343434;
  text-decoration: none;
}
a:active {
  color: #ed1c24;
  text-decoration: none;
}
a:hover {
  color: #ed1c24;
  text-decoration: none;
}
/*input,*/
/*select,*/
td,
tr,
div{
  font-family: 맑은 고딕;
  font-size: 14px;
  color: #343434;
}
textarea,
text {
  font-family: 맑은 고딕;
  font-size: 14px;
  color: #343434;
  border: 1px solid #999999;
}
form {
  display: inline;
}
ul,
ol,
li,
p,
em {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  overflow: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

/* ----------- 레이아웃 ------------- */
#wrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: auto;
  /* overflow: scroll; */
}
#wrap > header {
  position: relative;
  width: 100vw;
  z-index: 20;
  background-color: #fff;
}

#brand {
  position: relative;
  float: left;
  width: 245px;
}

#brand > .brand_name {
  float: left;
  font-size: 20px;
  color: #ffffff;
  line-height: 54px;
  cursor: pointer;
}

#brand > #ham {
  float: left;
  font-size: 30px;
  line-height: 50px;
  padding: 0 15px;
  color: #ffffff;
  cursor: pointer;
}

#menu {
  background-color: #2dbdb6;
  border-top: #cfcfcf solid 1px;
  height: 54px;
}
#menu > .area {
  width: 1323px;
  margin: 0 auto;
}
#menu > .area > ul {
  height: 55px;
}

#menu > .area > ul > li {
  float: left;
  padding: 0 15px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  line-height: 54px;
  cursor: pointer;
}

#menu > .area > ul > li > span {
  padding: 2px 14px;
}

#menu > .area > ul > li > span.clicked {
  border: #ffffff solid 1px;
  border-radius: 50px;
  margin: -1px;
}

#menu > .area > ul > li > span:hover {
  border: #ffffff solid 1px;
  border-radius: 50px;
  margin: -1px;
}

/* section */

section {
  position: absolute;
  min-height: calc(100% - 55px);
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

section > div.wrap {
  flex: 1;
}

section > div.wrap > .view_wrap {
  width: 100vw;
  max-height: calc(100vh - 90px);
  position: absolute;
  overflow-y: scroll;
}

